<left-menu></left-menu>
<div id="page-wrapper">
  <div class="col-lg-12">
    <h3 class="page-header">{{'User Management' | translate}}
      <input type="button" class="btn btn-primary" style="float: right;" data-toggle="modal" data-target="#modal" value="+" (click)="showCreateModal(0)">
    </h3>
  </div>

  <div class="row search-area">
    <div class="col-lg-12">
      <form role="form" [formGroup]="searchForm">
        <div class="form-group col-lg-6">
          <label>{{'Last Name' | translate}}</label>
          <input formControlName="lastName" class="form-control">
        </div>

        <div class="form-group col-lg-6">
          <label>{{'First Name' | translate}}</label>
          <input formControlName="firstName" class="form-control">
        </div>

        <div class="form-group col-lg-6">
          <label>{{'Login ID' | translate}}</label>
          <input formControlName="loginId" class="form-control">
        </div>

        <div class="form-group col-lg-6">
          <label>{{'Email' | translate}}</label>
          <input formControlName="email" class="form-control">
        </div>
        <div class="form-group col-lg-12 float-right">
          <button (click)="currentPage = 0; search()" type="button" class="btn btn-default float-right">{{'Search' | translate}}</button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="(searchList == null || searchList.length == 0) && isSearchSubmitted" class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label>{{'No Record Found' | translate}}</label>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="searchList != null && searchList.length>0" class="row">
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <label>{{'Search Result' | translate}}</label>
        </div>
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>{{'Last Name' | translate}}</th>
                  <th>{{'First Name' | translate}}</th>
                  <th>{{'Email' | translate}}</th>
                  <th>{{'Phone' | translate}}</th>
                  <th>{{'Role' | translate}}</th>
                  <th>{{'Status' | translate}}</th>
                  <th>{{'Operation' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of searchList; let idx = index">
                  <td>{{(currentPage-1) * numRecordPerPage + idx+1}}</td>
                  <td>{{user.lastName}}</td>
                  <td>{{user.firstName}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.phone}}</td>
                  <td>{{'Role' + user.roleId | translate}}</td>
                  <td>
                    <span *ngIf="user.status == 'ACTIVE'">
                      <i class="fa fa-unlock fa-fw" (click)="toggleStatus(user.userId)"></i>
                    </span>
                    <span *ngIf="user.status == 'INACTIVE'">
                      <i class="fa fa-lock fa-fw" (click)="toggleStatus(user.userId)"></i>
                    </span>
                  </td>
                  <td>
                    <span>
                      <i class="fa fa-edit fa-fw" (click)="showCreateModal(user.userId)" data-toggle="modal" data-target="#modal"></i>
                    </span>
                    <span>
                      <i class="fa fa-remove fa-fw" (click)="showDeleteModal(user.userId)" data-toggle="modal" data-target="#deleteModal"></i>
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Create/Update Modal -->
  <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="createUpdateModelTopic" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title inline " id="exampleModalLongTitle">{{modalTitle | translate}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form [formGroup]="createForm">
            <div class="col-sm-4 form-group">
              {{'Login ID' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <input formControlName="loginId" class="form-control col-sm-12" id="name">
            </div>
            <div *ngIf="isCreateSubmitted && createForm.get('loginId').invalid" class="col-sm-12 form-group error alert alert-warning center">
              {{'required'|translate}}
            </div>
            <div class="col-sm-4 form-group">
              {{'Last Name' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <input formControlName="lastName" class="form-control col-sm-12" id="name">
            </div>
            <div *ngIf="isCreateSubmitted && createForm.get('lastName').invalid" class="col-sm-12 form-group error alert alert-warning center">
              {{'required'|translate}}
            </div>
            <div class="col-sm-4 form-group">
              {{'First Name' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <input formControlName="firstName" class="form-control col-sm-12" id="name">
            </div>
            <div *ngIf="isCreateSubmitted && createForm.get('firstName').invalid" class="col-sm-12 form-group error alert alert-warning center">
              {{'required'|translate}}
            </div>

            <div class="col-sm-4 form-group">
              {{'Gender' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <select formControlName="gender" class="form-control col-sm-12">
                <option value="MALE">{{'MALE' | translate}}</option>
                <option value="FEMALE">{{'FEMALE' | translate}}</option>
                <option value="OTHER">{{'OTHER' | translate}}</option>
              </select>
            </div>

            <div class="col-sm-4 form-group">
              {{'Email' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <input formControlName="email" class="form-control col-sm-12" id="name">
            </div>
            <div *ngIf="isCreateSubmitted && createForm.get('email').invalid" class="col-sm-12 form-group error alert alert-warning center">
              {{'required'|translate}}
            </div>

            <div class="col-sm-4 form-group">
              {{'Date Of Birth' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <input formControlName="dob" class="form-control col-sm-12" id="dob">
            </div>
            <div *ngIf="isCreateSubmitted && createForm.get('dob').invalid" class="col-sm-12 form-group error alert alert-warning center">
              {{'required'|translate}}
            </div>

            <div class="col-sm-4 form-group">
              {{'Address' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <input formControlName="address" class="form-control col-sm-12" id="dob">
            </div>
            <div *ngIf="isCreateSubmitted && createForm.get('address').invalid" class="col-sm-12 form-group error alert alert-warning center">
              {{'required'|translate}}
            </div>

            <div class="col-sm-4 form-group">
              {{'Phone' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <input formControlName="phone" class="form-control col-sm-12" id="phone">
            </div>
            <div *ngIf="isCreateSubmitted && createForm.get('phone').invalid" class="col-sm-12 form-group error alert alert-warning center">
              {{'required'|translate}}
            </div>

            <div class="col-sm-4 form-group" *ngIf="avatarImage">
            </div>
            <div class="col-sm-8  form-group" *ngIf="avatarImage">
              <img width="100px" height="100px" [src]="avatarImage" *ngIf="avatarImage" class="imgPlaceholder">
            </div>

            <div class="col-sm-4 form-group" *ngIf="selectedObject.avatar && !avatarImage">
              </div>
            <div class="col-sm-8  form-group" *ngIf="selectedObject.avatar && !avatarImage">
              <img width="150px" height="100px" [src]="imageUrl + selectedObject.avatar" *ngIf="selectedObject.avatar" class="imgPlaceholder">
            </div>

            <div class="col-sm-4 form-group">
              {{'Avatar' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <input type="file" id="avatar" (change)="onFileChange($event,'avatar')" #avatar>
            </div>


            <div class="col-sm-4 form-group" *ngIf="frontIDImage">
            </div>
            <div class="col-sm-8  form-group" *ngIf="frontIDImage">
              <img width="150px" height="100px" [src]="frontIDImage" *ngIf="frontIDImage" class="imgPlaceholder">
            </div>

            <div class="col-sm-4 form-group" *ngIf="selectedObject.frontIdCard && !frontIDImage">
              </div>
            <div class="col-sm-8  form-group" *ngIf="selectedObject.frontIdCard && !frontIDImage">
              <img width="150px" height="100px" [src]="imageUrl + selectedObject.frontIdCard" *ngIf="selectedObject.frontIdCard" class="imgPlaceholder">
            </div>

            <div class="col-sm-4 form-group">
              {{'ID Card Front Side' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <input type="file" id="frontIdCard" (change)="onFileChange($event,'frontIdCard')" #frontIdCard>
            </div>


          
            <div class="col-sm-4 form-group" *ngIf="backIDImage">
            </div>
            <div class="col-sm-8  form-group" *ngIf="backIDImage">
              <img width="150px" height="100px" [src]="backIDImage" *ngIf="backIDImage" class="imgPlaceholder">
            </div>

            <div class="col-sm-4 form-group" *ngIf="selectedObject.backIdCard && !backIDImage">
              </div>
            <div class="col-sm-8  form-group" *ngIf="selectedObject.backIdCard && !backIDImage">
              <img width="150px" height="100px" [src]="imageUrl + selectedObject.backIdCard" *ngIf="selectedObject.backIdCard" class="imgPlaceholder">
            </div>

            <div class="col-sm-4 form-group">
              {{'ID Card Back Side' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <input type="file" id="backIdCard" (change)="onFileChange($event,'backIdCard')" #backIdCard>
            </div>


            <div class="col-sm-4 form-group">
              {{'Role' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <select formControlName="roleId" class="form-control col-sm-12">
                <option value="1">Sale</option>
                <option value="2">Writer</option>
                <option value="3">Mod</option>
                <option value="4">HR</option>
                <option value="5">Accountant</option>
                <option value="6">Admin</option>
              </select>
            </div>
            <div class="col-sm-4 form-group">
              {{'Status' | translate}}:
            </div>
            <div class="col-sm-8 form-group">
              <select formControlName="status" class="form-control col-sm-12">
                <option value="ACTIVE">ACTIVE</option>
                <option value="INACTIVE">INACTIVE</option>
                <option value="BLOCK">BLOCK</option>
              </select>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary " data-dismiss="modal" (click)="closeModal()">{{'Close' | translate}}</button>
          <button type="button" class="btn btn-primary" (click)="save()">{{'Save' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END Create/Update Modal -->

  <!-- Delete Confirmation Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelTopic" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title inline">{{'Confirmation' | translate}}</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="col-sm-12 form-group">
            {{'Are you sure you want to delete this item?' | translate}}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary " data-dismiss="modal">{{'Close' | translate}}</button>
          <button type="button" class="btn btn-primary" (click)="delete()">{{'Delete' | translate}}</button>
        </div>
      </div>
    </div>
  </div>
  <!-- END Delete Confirmation Modal -->
  <paging *ngIf="searchList != null && searchList.length>0"></paging>
</div>
